body {
    background-color: #121212;
    color: #ffffff;
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}
h1 { color: #f5da55; font-size: 2.5rem; }
p { color: #888; font-size: 1.2rem; }